#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

label {
  display: block;
  margin: 10px 0 6px;
  text-align: left;
  font-size: 1em;
}

input {
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 2.3em;
  padding: 10px;
  box-sizing: border-box;
  /* border-radius: 10%; */
}

form fieldset {
  width: fit-content;
  padding: 1.5em;
  border-radius: 50px;
}

h2 {
  text-align: center;
}

button {
  width: 100%;
  height: 3em;
  margin: 10px 0 0;
  /* background-color: blue; */
  /* color: white; */
  /* border: none; */
}

a {
  color: lightblue;
}
